/* */

h1 { font-size: 4mm;
     font-weight: normal;
     text-align: center;
     
   }

table.nomen td { padding: 2mm;
               }
table.nomen td:nth-child(odd) { background: #f4f4f4;
                              }
table.nomen td:nth-child(1) { text-align: right;
                              font-size: 2.7mm;
                            }


table.nomen th { padding: 2mm;
                 font-weight: normal;
                 border-bottom: 0.2mm solid #ccc;
               }
table.nomen th:nth-child(odd) { background: #f4f4f4;
                              }
table.nomen th:nth-child(3) { color: #CC0033;
                            }
table.nomen th:nth-child(n+2) { font-size: 2.2mm;
                              }
table.nomen th:nth-child(1) { font-size: 2.7mm;
                            }

table.nomen th.topper { padding: 2mm;
                        font-weight: normal;
                        font-size: 3.3mm;
                        background: transparent;
                        border: 0;
                      }
